{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uxdesigns4.css') }}"/>

{% endblock %}

{% block main_content %}

    <div class="container">
    {% if current_user.is_authenticated %}

    <div class="hero">
        <h1>Automation Sharks</h1>

    <small>
       Program Scores
    </small>
    <p>The Program awarded points for each playback presented
        the following Modules
        Automation Frameworks, KPIs, EDT, awarded up to 5 Points each
        and the Open Source lab gave 1 additional point. Thus creating the score table below
     </p>
    </div>

    <div class="stats">
        <div class="stat"><a href="{{ url_for('main.home') }}"> Back Home</a></div>
   {% if current_user.role == "admin" %}
        <div class="stat"><a href="{{ url_for('admins.index') }}"> Back to Console</a></div>

        <div class="stat"><a href="{{ url_for('modules.new_evaluation') }}"> Add New Evaluation</a></div>
    {% endif %}
    <p>For the Final Event The finalist will be able to present to our 5 Campus Judges. Based on the categories
        the judges will be able to award up to 5 points adding to the points earn by each Project, to determined
        the 2020 Automation Shark Winner
    </p>

    <p>{{ team_1_score }}</p>

    </div>

        <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-11">

                <div class="content-section-admin-user">

                <legend class="border-bottom mb-2">Program Modules Scores</legend>

                    <div class="table-responsive">
                        <table class="table table-sm  table-striped" id="Cart">
                            <thead>
                            <tr>
                                <th class="header" scope="col">Project Name</th>
                                <th class="header" scope="col">Automation Frameworks</th>
                                <th class="header" scope="col">Key Performances Indicators</th>
                                <th class="header" scope="col">Design Thinking </th>
                                <th class="header" scope="col">OpenSource</th>
                                <th class="header" scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for m in modules %}

                                <td class="header" scope="col"> {{ m.result }}</td>

                                <td class="header" scope="col"> {{ m.automation_frameworks_score }}
                                </td>
                                <td class="header" scope="col"> {{ m.kpis_score }}
                                </td>
                                <td class="header" scope="col"> {{ m.edt_score }}
                                </td>
                                <td class="header" scope="col"> {{ m.opensource_score }}
                                </td>
                                <td class="header" scope="col">
                                {{ "{0:.1f}".format(((m.automation_frameworks_score)+(m.kpis_score)+
                                        (m.edt_score)+(m.opensource_score))) }}
                                </td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-0"></div>
        </div>


    {% endif %}

{% endblock main_content %}
