{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uxdesigns4.css') }}"/>

{% endblock %}

{% block main_content %}

    <div class="container">
    {% if current_user.is_authenticated %}

    <div class="hero">
        <h1>Automation Sharks</h1>

    <small>
       Final Judges Overview
    </small>


    <div class="stats">
        <div class="stat"><a href="{{ url_for('main.home') }}"> Back Home</a></div>

        <div class="stat"><a href="{{ url_for('admins.index') }}"> Back to Console</a></div>
        {% endif %}
    </div>

     <div class="row">
            <div class="col-md-1"></div>

           <div class="col-md-10">
                <div class="content-section-admin">
                    <legend class="border-bottom mb-2">Projects</legend>
                    <div class="table-responsive">
                        <table class="table table-sm table-condensed table-striped" id="Cart">
                            <thead>
                            <tr>
                                <th scope="col">Project Name</th>
                                <th scope="col">FTEs Savings</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in projects %}
                                <td scope="col"> {{ p.project_name }}</td>
                                <td scope="col"> {{ p.fte_saving }}</td>
                                <td scope="col"> {{ p.status }} </td>

                                <div class="buttons">
                                    <td><a class="btn btn-secondary btn-sm m-1" href="{{ url_for('projects.project', id=p.id) }}">Updates</a></td>
                                    <td scope="col"> <a class="btn btn-success btn-sm m-1" href="{{ url_for('projects.move_to_participant_project', id=p.id) }}">Move to Participant</a> </td>
                                    <td scope="col"> <a class="btn btn-primary btn-sm m-1" href="{{ url_for('projects.move_project_to_finalist', id=p.id) }}">Move to Finalist</a> </td>
                                </div>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




{% endblock %}
